body {
    background-color: var(--knd-bg);
}

div.container {
    padding: 0% 25% 0% 25%;
}

div.msg-output {
    background-color: #36454f;
    color:whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

form.msg-input {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

input.msg-text-field {
    padding: 0px 16px 0px 16px;
    background: #36454f;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

button.msg-submit {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

div.msg {
    padding: 0px 16px 0px 16px;
}