:root {
    --knd-pallette-0: #36454f; /* charcoal */
    --knd-pallette-1: slategray;
    --knd-pallette-2: whitesmoke;

    --knd-tx-bg: transparent;
    --knd-tx-fg: whitesmoke;

    --knd-rx-bg: #36454f; /* charcoal */
    --knd-rx-fg: whitesmoke;
}